spring:
  profiles:
    active: main
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3305/pub_manager_db?characterEncoding=UTF-8
    username: pub_manager
    password: pub20231009@

  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: create
    generate-ddl: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true

#springdoc
springdoc:
  packages-to-scan: com.toyProject.pubManager
  swagger-ui:
    path: /
    disable-swagger-default-url: true
    display-request-duration: true
    operations-sorter: alpha
    doc-expansion: none
